{% extends 'base.html' %} {% block main %}
<br>
<br>
<br>
<h1 id="head">Login</h1>
<br>
<form class="login" action="{{ url_for('login') }}" method="POST">
    {% include 'flash_messages.html'%}
    <div>
        <label for="username">Username</label>
        <br>
        <input type="text" name="username" id="username">

    </div>
    <div>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password" id="password">
    </div>
    <br>
    <button type="submit" name="submit" id="btn">Log in</button>

</form>

{% endblock %}