{% extends 'base.html'%}{% block main %}
<br>
<br>
<br>
<br>
<h1 id="head"> Register</h1>
<br>
<div class="myform">
    <form method="POST" action="{{url_for('userform')}} " enctype="multipart/form-data">
        {% include 'flash_messages.html'%}
        <div>
            <label for="username">Username</label>
            <br>
            <input type="text" name="username" id="username">

        </div>
        <div>
            <label for="password">Password</label>
            <br>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="firstname">Firstname</label>
            <br>
            <input type="text" name="firstname" id="firstname">
        </div>
        <div>
            <label for="lastname">Lastname</label>
            <br>
            <input type="text" name="lastname" id="lastname">
        </div>
        <div>
            <label for="email">Email</label>
            <br>
            <input type="email" name="email" id="email">

        </div>
        <div>
            <label for="location">Location</label>
            <br>
            <input type="text" name="location" id="location">

        </div>
        <div>
            <label for="biography">Biography</label>
            <br>
            <textarea rows="5" cols="46" name="biography" id="biography"></textarea>

        </div>
        <div>
            <label for="photo">Photo</label>
            <br>
            <input type="file" name="photo" accept="image/*" id="photo" />
        </div>
        <br>

        <button type='submit' name='submit' id="btn"> Register</button>
    </form>
</div>
{% endblock%}